.form {
  display: flex;
  gap: 0.5rem;
  margin-top: -1.688rem;
}

.form input, .form button {
  border: 0;
  border-radius: 8px;
  padding: 1rem;
}

.form input {
  background: var(--gray-500);
  width: 100%;
  height: 3.375rem;
  color: var(--gray-100);
}

.form input:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--purple-dark);
}

.form button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: 600;
  height: 3.375rem;
  cursor: pointer;
  transition: background-color 0.1s;
}

.form button:not(:disabled):hover {
  background: var(--blue);
}

.form button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}